
.keybutton{
  height: 32px;
  min-width: 12px;
  padding: 0 10px;
  border-radius: 16px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-size: var(--ytd-user-comment_-_font-size);
  font-weight: var(--ytd-user-comment_-_font-weight);
  line-height: var(--ytd-user-comment_-_line-height);
  letter-spacing: var(--ytd-user-comment_-_letter-spacing);
  font-family: var(--ytd-user-comment_-_font-family);
  color: var(--ytd-user-comment_-_color);
}

.header{
  text-align: center;
  align-items: center;
  position: sticky;
  top:0;  
  z-index:7;
}

.title{
  text-align: left;  
  font: 400 17px Arial;
  color: #e8ae40;
  font-weight: bold;
}


.box {  
font-color:'white';
width:40%;
margin:auto;
}

.main {


}
.TableHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 6px 14px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.7px;
  cursor: pointer;
  background-color: #c3533e;
  border: 2px solid #c3533e;
  color: white;
  transition: all 0.19s linear;
  outline: none;
}

.button:hover {
  color: #c3533e;
  background-color: transparent;
  transition: all 0.19s linear;
  outline: none;
}

.TableSearch {
  max-width: 50%;
  min-width: 400px;
  flex: 1;
}



.mapContainer {
  display:flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mapContainerhidden {
  display:none;  
}

.topleft{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  background-color: rgba(43,43,43,.95);
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  width:330px;
}

.topleft span{
font: 400 10px Arial;
}

.topleft headtitle{
  font: 400 30px Arial;
  color: #e8ae40;
  font-weight: bold;
}



.legend{
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
  background-color: rgba(43,43,43,.95);
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font:400 15.3333px Arial;
  width:150px;
}

.legend h4 {
font:400 19px Arial;
margin: 0 0 10px;
}

.legend div span {
display: inline-block;
height: 10px;
margin-right: 5px;
width: 10px;
font:400 10px Arial;
}

.legend small {
font: 400 12px Arial;
}

.table{
text-align: left;
margin-top: 10px;
width: 100%;
font: 400 15.3333px Arial;
}

.table th{
font: 600 16.3333px Arial;
}

.table td{

}

.Tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
}


.regionsel {
color: #e8ae40;
  }


.popup {
  font: 600 16.3333px Arial;
  background-color: rgba(43,43,43,.95);
  padding: 10px;
  line-height: 1.7em;

}

.logo {
position:absolute;
z-index: 3;
bottom: 0;
left:100px;
width:170px;
}

 .button {
  font: 600 16px Arial;
  color: white;
  border: none;
  width:50%;
  padding: 10px 16px;
  text-align: center;
  display: inline-block;
  letter-spacing: .7px;
  cursor: pointer;
  transition: all .19s linear;
  background-color:rgba(205,205,205,.30);
  outline: none;
  margin-bottom: 10px;
 }

 .buttondist {
  font: 600 13px Arial;
  color: white;
  border: none;
  width:25%;
  padding: 10px 16px;
  text-align: center;
  display: inline-block;
  letter-spacing: .7px;
  cursor: pointer;
  transition: all .19s linear;
  background-color:rgba(205,205,205,.30);
  outline: none;
  margin-bottom: 10px;
 }

 .button:hover {
     color: #ffffff;
     font-weight:600;
     background-color:rgba(205,205,205,.95);
     transition: all .19s linear;
 }

 .buttondist:hover {
  color: #ffffff;
  font-weight:600;
  background-color:rgba(205,205,205,.95);
  transition: all .19s linear;
}

 .buttonActive {
   font: 600 17px Arial;
   color: white;
   border: none;
   padding: 25px 38px;
   /* text-align: center; */
   /* display: inline-block; */
   letter-spacing: .7px;
   cursor: pointer;
   transition: all .19s linear;
   background-color: rgba(205,205,205,.1);
   outline: none;
   margin-bottom: 10px;
 }

 .buttonW {
  font: 600 17px Arial;
  color: white;
  border: none;
  padding: 15px 25px;
  /* text-align: center; */
  /* display: inline-block; */
  letter-spacing: .7px;
  cursor: pointer;
  transition: all .19s linear;
  background-color: rgba(132,223,226,.6);
  outline: none;
  margin-bottom: 10px;
  width:100%;
  text-align: left;
  min-height:130px;
}

.buttonV {
  font: 600 17px Arial;
  color: white;
  border: none;
  padding: 15px 25px;
  text-align: left;
  display: inline-block;
  letter-spacing: .7px;
  cursor: pointer;
  transition: all .19s linear;
  background-color: rgba(255,128,138,.6);
  outline: none;
  margin-bottom: 10px;
  width:100%;
  text-align: left;
  min-height:130px;
}

.buttonA {
  font: 600 17px Arial;
  color: white;
  border: none;
  padding: 15px 25px;
  /* text-align: center; */
  /* display: inline-block; */
  letter-spacing: .7px;
  cursor: pointer;
  transition: all .19s linear;
  background-color: rgba(164, 173, 233,.6);
  outline: none;
  margin-bottom: 10px;
  width:100%;
  text-align: left;
  min-height:130px;
}

.buttonR {
  font: 600 17px Arial;
  color: white;
  border: none;
  padding: 15px 25px;
  /* text-align: center; */
  /* display: inline-block; */
  letter-spacing: .7px;
  cursor: pointer;
  transition: all .19s linear;
  background-color: rgba(232,174,64,.6);
  outline: none;
  margin-bottom: 10px;
  width:100%;
  text-align: left;
  min-height:130px;
}

.buttonW:hover {
  
  font-weight:600;
  background-color: rgba(132,223,226,.9);
  transition: all .19s linear;
}

.buttonV:hover {
  color: #ffffff;
  font-weight:600;
  background-color:rgba(255,128,138,.9);
  transition: all .19s linear;
}

.buttonA:hover {
  color: #ffffff;
  font-weight:600;
  background-color:rgba(164, 173, 233,.9);
  transition: all .19s linear;
}

.buttonR:hover {
  color: #ffffff;
  font-weight:600;
  background-color:rgba(232,174,64,.9);
  transition: all .19s linear;
}



/* MOBILE */
@media screen and (max-width: 850px) {
      .topleft{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 12px;
        background-color: rgba(43,43,43,.95);
        color: #ffffff;
        z-index: 1 !important;
        padding: 6px;
        width:130px;
        font: 400 6.6px Arial;
      }

      .topleft span{
      font: 400 9.6px Arial;
      }

      .topleft headtitle{
        font: 400 16px Arial;
        color: #e8ae40;
        font-weight: bold;
      }

      .table{
      text-align: left;
      margin-top: 10px;
      width: 100%;
      font: 400 8.3333px Arial;
      }

      .table th{
      font: 600 9.3333px Arial;
      }

      .table td{

      }

      .tooltip {
      font: 600 9.3333px Arial;
      background-color: rgb(43,43,43,.7);
      padding: 10px;
      line-height: 1.7em;
      }

      .legend{
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 12px;
        background-color: rgba(43,43,43,.95);
        color: #ffffff;
        z-index: 1 !important;
        padding: 6px;
        font:400 10px Arial;
        width:110px;
      }

      .legend h4 {
      font:400 10px Arial;
      margin: 0 0 10px;
      }

      .legend div span {
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      width: 10px;
      font:400 10px Arial;
      }

      .legend small {
      font: 400 7px Arial;
      }

      .logo {
      visibility: hidden
      }

      .button {
       font: 600 9px Arial;
       color: white;
       border: none;
       width:50%;
       padding: 0px 0px;
       text-align: center;
       display: inline-block;
       letter-spacing: .7px;
       cursor: pointer;
       transition: all .19s linear;
       background-color:rgba(205,205,205,.30);
       outline: none;
       margin-bottom: 5px;
      }

      .button:hover {
          color: #ffffff;
          font-weight:600;
          background-color:rgba(205,205,205,.95);
          transition: all .19s linear;
      }

      .buttonActive {
        font: 600 9px Arial;
        color: white;
        border: none;
        width:50%;
        padding: 0px 0px;
        text-align: center;
        display: inline-block;
        letter-spacing: .7px;
        cursor: pointer;
        transition: all .19s linear;
        background-color: #e8ae40;
        outline: none;
        margin-bottom: 5px;
      }

      .buttonActive:hover {
          color: #ffffff;
          font-weight:600;
          background-color:rgba(205,205,205,.95);
          transition: all .19s linear;
      }


@media screen and (max-height: 600px) {

  .legend{
    bottom: 0;
    left: 0;
  }
}
}
